<div th:fragment="main">
    <div class="container mt-4">
        <div class="card">
            <div class="card-header bg-black text-white">
                <h2 class="mb-0">Головна адмін-панелі</h2>
            </div>
            <div class="card-body">
                <p>Ласкаво просимо до адмін-панелі! Використовуйте меню для навігації по розділах.</p>
                <p>Тут ви можете переглядати статистику, керувати товарами, категоріями, користувачами та ін.</p>
            </div>
        </div>
    </div>
</div>